.sidebar-list {
    /* width: 100%; */
    padding: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* top: 0; */
}

.sidebar {
    background-color: royalblue;
    /* height: 100%; */
    /* width: 100%; */
    padding: 0px;
    color: white;
    
}

.sidebar .row-item {
    height: 50px;
    padding-left: 40px;
    display: flex;
    /* To bring text to horizontal center */
    /* justify-content: center; */

    /* To bring text to vertical center */
    align-items: center;        
    font-weight: bolder;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar .row-item:hover {
    cursor: pointer;
    background-color: violet;
}

.remove-padding {
    padding: 0px;
}

.fontsize {
    font-size: 15px;
    font-weight: ;
}

.B {
    background-color: skyblue;
}