.topic-menu-bar {
    background-color: royalblue;
    height: 100%;
    /* width: 100%; */
    padding: 0px;
    color: white;
}

.remove-padding {
    padding: 0px;
}

.B {
    background-color: skyblue;
}